<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel= "stylesheet" type= "text/css" href="../static/styles/content_style.css">
    </head>
    <body>
        <h1>Contact Information</h1>
        
        <!-- Display the Menu in one row with link to each page -->
        <div class="row">
            <div class="col"><a href=home.html>Home Page</a></div>
            <div class="col"><a href=collection.html>View My Collections</a></div>
            <div class="col">Contact Information</div>
        </div>

        <ul>
            <li>Author: Xingyi Zhang</li>
            <li>Date and Time Accessed: {{ datetime }}</li>
            <li>Email: xzhang8@student.umgc.edu</li>
            <li>Phone Number: (123)456-7890</li>
            <li>Address: 12345 A St, B city<br>WA 98765-4321</li>
            <li>Content References: as links direct in each section.</li>
        </ul>
    </body>
</html>