<!DOCTYPE html>
<html>
    <head>
        <title>U.S. National Park</title>
        <link rel= "stylesheet" type= "text/css" href="../static/styles/content_style.css">
    </head>
    <body>
        <h1>Overview of U.S. National Parks</h1>

        <!-- Display the Menu in one row with link to each page -->
        <div class="row">
            <div class="col">Home Page</div>
            <div class="col"><a href=collection.html>View My Collections</a></div>
            <div class="col"><a href=contact.html>Contact Information</a></div>
        </div>

        <h2>Explore by Topic</h2>

        <!-- Provide categories for search and external links for references -->
        <div class="topic">Plants and Animals
            <ul>
                <li><a href="https://www.nps.gov/subjects/wildflowers/index.htm">Wildflowers</a></li>
                <li><a href="https://www.nps.gov/subjects/fungi/index.htm">Mushrooms & Fungi</a></li>
                <li><a href="https://www.nps.gov/subjects/mammals/index.htm">Mammals</a></li>
            </ul>
        </div>
        <div class="topic">Outdoor Adventures
            <ol>
                <li><a href="https://www.nps.gov/subjects/biking/index.htm">Biking</a></li>
                <li><a href="https://www.nps.gov/subjects/trails/index.htm">Trails & Hiking</a></li>
                <li><a href="https://www.nps.gov/subjects/camping/index.htm">Camping</a></li>
            </ol>
        </div>
        <div class="topic">American Landscapes
            <ul>
                <li><a href="https://www.nps.gov/subjects/rivers/index.htm">Rivers</a></li>
                <li><a href="https://www.nps.gov/subjects/caves/index.htm">Caves & Karst</a></li>
                <li><a href="https://www.nps.gov/subjects/grasslands/index.htm">Grasslands</a></li>
            </ul>
        </div>

        <h2>Explore by States</h2>
        <!-- A list of National Parks State map -->
        <a href="https://www.nationalparktripsmedia.com/parks/us-national-parks-by-state-list">List of National Parks by States</a>
        <br><br><br>

        <!-- A table of States with their National Parks -->
        <table border="1">
            <!-- Provide caption with details of the table -->
            <caption>
                <details>
                    <summary>Western States</summary>
                    <p>Here is a table of national parks in Western States<br><br></p>
                </details>
            </caption>
            
            <!-- Table headers -->
            <tr>
                <th style="width: 20%;">Western States</th>
                <th style="width: 60%;">National Parks</th>
                <th style="width: 20%;">Visited</th>
            </tr>

            <tr>
                <td>Arizona</td>
                <td>
                    <p class="linkcol3"><a href="https://www.mygrandcanyonpark.com/tag/saguaro-national-park">Saguaro</a></p>
                    <p class="linkcol3"><a href="https://www.mygrandcanyonpark.com/">Grand Canyon</a></p>
                    <p class="linkcol3"><a href="https://www.mygrandcanyonpark.com/tag/petrified-forest-national-park">Petrified Forest</a></p>
                </td>
                <td>None</td>
            </tr>

            <tr>
                <td>California</td>
                <td>
                    <p class="linkcol3">
                        <a href="https://www.myyosemitepark.com/">Yosemite</a><br><br>
                        <a href="https://www.myyosemitepark.com/tag/channel-islands-national-park">Channel Islands</a><br><br>
                        <a href="https://www.myyosemitepark.com/tag/pinnacles-national-park">Pinnacles</a>
                    </p>
                    <p class="linkcol3">
                        <a href="https://www.myyosemitepark.com/tag/death-valley-national-park">Death Valley</a><br><br>
                        <a href="https://www.myyosemitepark.com/tag/joshua-tree-national-park">Joshua Tree</a><br><br>
                        <a href="https://www.myyosemitepark.com/tag/kings-canyon-national-park">Kings Canyon</a>
                    </p>
                    <p class="linkcol3">
                        <a href="https://www.myyosemitepark.com/things-to-do/lassen-volcanic">Lassen Volcanic</a><br><br>
                        <a href="https://www.myyosemitepark.com/tag/redwoods-national-and-state-parks">Redwood</a><br><br>
                        <a href="https://www.myyosemitepark.com/tag/sequoia-national-park">Sequoia</a>
                    </p>
                </td>
                <td><img src="../static/images/check.png" style="width:10%;"> Redwood</td>
            </tr>

            <tr>
                <td>Colorado</td>
                <td>
                    <p class="linkcol2">
                        <a href="https://www.myrockymountainpark.com/national-parks/rmnp">Rocky Mountain</a><br><br>
                        <a href="https://www.myrockymountainpark.com/national-parks/bcotgnp">Black Canyon of the Gunnison</a>
                    </p>
                    <p class="linkcol2">
                        <a href="https://www.myrockymountainpark.com/national-parks/gsdnpp">Great Sand Dunes</a><br><br>
                        <a href="https://www.myrockymountainpark.com/national-parks/mvnp">Mesa Verde</a>
                    </p>
                </td>
                <td>None</td>
            </tr>

            <tr>
                <td>Utah</td>
                <td>
                    <p class="linkcol3"><a href="https://www.myutahparks.com/parks/arches-national-park">Arches</a></p>
                    <p class="linkcol3"><a href="https://www.myutahparks.com/parks/zion-national-park">Zion</a></p>
                    <p class="linkcol3"><a href="https://www.myutahparks.com/parks/canyonlands-national-park">Canyonlands</a></p>
                    <p class="linkcol2"><a href="https://www.myutahparks.com/parks/capitol-reef-national-park">Capitol Reef</a></p>
                    <p class="linkcol2"><a href="https://www.myutahparks.com/parks/bryce-canyon-national-park">Bryce Canyon</a></p>
                </td>
                <td><img src="../static/images/check.png" style="width:10%;"> Arches</td>
            </tr>

            <tr>
                <td>Montana & Wyoming</td>
                <td>
                    <p class="linkcol3"><a href="https://www.yellowstonepark.com/tag/glacier-national-park">Glacier (Montana)</a></p>
                    <p class="linkcol3"><a href="https://www.yellowstonepark.com/">Yellowstone</a></p>
                    <p class="linkcol3"><a href="https://www.yellowstonepark.com/tag/grand-teton-national-park">Grand Teton (Wyoming)</a></p>
                </td>
                <td><img src="../static/images/check.png" style="width:10%;"> Yellowstone</td>
            </tr>

            <tr>
                <td>Nevada</td>
                <td>
                    <p class="linkcol2"><a href="https://www.myyosemitepark.com/tag/death-valley-national-park">Death Valley</a></p>
                    <p class="linkcol2"><a href="https://www.myutahparks.com/tag/great-basin-national-park">Great Basin</a></p>
                </td>
                <td>None</td>
            </tr>
        </table>
    </body>

    <!-- Display the date and time of visit in the footer section -->
    <footer>
        <p style="text-align: left;"><a href='/logout'>Log Out</a></p>
        <p style="text-align: right;">Page visited on {{ datetime }}</p>
    </footer>
</html>